<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header flex">
            <h3 class="font-bold w-full">{{ title }}</h3>
            {% block close_button %}

            {% endblock %}
        </div>
        <div class="modal-body">
           {% block modal_content %}{% endblock %}
        </div>
        <div class="modal-footer">
            {% block extra_buttons %}
            {% endblock %}
        </div>
    </div>
</div>